# App
ENV_NAME=development
VERSION=latest
HTTP_PORT=3000
NODE_ENV=development
PORT=3000

# API Docs Authentication
API_ADMIN_USER=admin
API_ADMIN_PASSWORD=password

# CORS
CORS_ORIGIN=http://localhost:3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Redis (Optional)
REDIS_URL=redis://localhost:6379

# AWS (Optional)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=southeast-1
AWS_BUCKET_NAME=your-bucket-name 

# SendGrid
SENDGRID_API_KEY=your_api_key
SENDGRID_FROM_EMAIL=your_from_email
SENDGRID_VERIFICATION_TEMPLATE_ID=your_verification_template_id
EMAIL_VERIFICATION_SECRET=your_email_verification_secret

# reCAPTCHA
RECAPTCHA_SECRET_KEY=your_secret_key
RECAPTCHA_SITE_KEY=your_site_key

# App
APP_URL=http://localhost:3001

# Admin Dashboard
ADMIN_DASHBOARD_USER=admin@kumakatok.com
ADMIN_DASHBOARD_PASSWORD=admin

# Elastic



PAYMONGO_SECRET_KEY=123
PAYMONGO_WEBHOOK_SECRET=123
